<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
	<!-- Header -->
	<div class="panel panel-default" ng-controller="RedirectController as redirect">
		<div class="panel-body spicyHeadTopBotPad spicyHeadColor">
			<div class="row spicyHeadTopBotPad">
				<div class="col-md-2">
					<h1 align="center">Whistler</h1>
				</div>

				<!-- Navigation Bar -->
				<div class="col-md-7" align="center">
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyPosts()">
							<h4>Meus Posts</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyGroups()">
							<h4>Meus Grupos</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyFeed()">
							<h4>Feed de Noticias</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToStatistics()">
							<h4>Estatisticas</h4>
						</button>
					</div>
				</div>

				<!-- Profile Info -->
				<div class="col-md-3 spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadColor">
					<div class="panel panel-default spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadProfileColor">
						<div class="panel-body spicyHeadTopBotPad spicyHeadProfileColor">								
							<div class="col-md-3">
								<img ng-src="{{user.picturePath}}" alt="user image" class="spicyHeadPrifilePic" ng-click="redirect.ToMyProfile()"/>
							</div>	
							<div class="col-md-9" ng-controller="LoginController as loginCtrl">
								<p ng-click="redirect.ToMyProfile()">{{user.profileName}}</p>
								<p ng-click="loginCtrl.Logout()">Sair</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Profile Info -->
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<div class="row">
			<div class="col-md-2" align="center">
				<img src="profile-picture.jpg" class="img-thumbnail" width="150" height="150">
				<button type="button" class="btn btn-primary" style="margin:5px;">Alterar Foto</button>
			</div>
			<div class="col-md-10" >
				<h3>Nome de Usuário</h3>
				<form role="form">
					<div class="form-group">
						<label for="profilename">Nome de Perfil:</label>
						<input type="text" class="form-control" id="profilename">
					</div>
					<div class="form-group">
						<label for="date">Data de Nascimento:</label>
						<input type="date" class="form-control" id="date">
					</div>
					<div class="form-group">
						<label for="description">Descrição:</label>
						<input type="text" class="form-control" id="description">
					</div>
					<button type="submit" class="btn btn-default">Salvar Informações</button>
				</form>
				<form role="form" style="margin-top:50px;margin-bottom:50px;">
					<h3>Alterar senha:</h3>
					<div class="form-group">
						<label for="oldpwd">Senha antiga:</label>
						<input type="password" class="form-control" id="oldpwd">
					</div>
					<div class="form-group">
						<label for="newpwd">Nova senha:</label>
						<input type="password" class="form-control" id="newpwd">
					</div>
					<div class="form-group">
						<label for="pwdconf">Confirmação da nova senha:</label>
						<input type="password" class="form-control" id="pwdconf">
					</div>
					<button type="submit" class="btn btn-default">Alterar</button>
				</form>
				<button type="button" class="btn btn-danger">Remover conta</button>
				<span class="glyphicon glyphicon-exclamation-sign"></span>
			</div>
		</div>
	</div>
</div>