<!-- Grupo:
	Rafael Gallo
	Andreas Munte
	Guilherme Muzzi
-->
<!DOCTYPE html>

<div ng-controller="UserController as userCtrl">
	<!-- Header -->
	<ng-include src="'templates/included/header.inc.html'"></ng-include>

	<!-- Search Bar -->
	<div class="container spicyBox">
		<div class="row" style="margin-bottom:2px;margin-top:2px;" ng-controller="PostSearchController as searchCtrl">
			<div class="col-md-1">
				<button type="button" class="btn btn-default" style="padding-bottom:4px;padding-top:4px" ng-click="searchCtrl.Search()">Buscar</button>
			</div>
			<div class="col-md-11">
				<input type="text"  class="form-control" style="padding-bottom:4px;padding-top:4px;" ng-model="searchForm"/>
			</div>
		</div>
	</div>
	
	<!-- Post List -->
	<ng-include src="'templates/included/posts.inc.html'"></ng-include>
</div>