<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
    <div class="panel panel-default">
		<div class="panel-body" style="background-color: #00cc99; padding-bottom:2px; padding-top:2px;">
			<div class="row" style="padding-bottom:2px; padding-top:2px;">
				<div class="col-md-2">
					<h1 align="center">Whistler</h1>
				</div>
				<div class="col-md-2" align="center">
					<button type="button" class="btn btn-default" 
							style="border: 0px #00cc99;background-color:#00b386;padding-bottom:4px;padding-top:4px;margin-top:20px;margin-bottom:0px;">
						<h4>Meus Posts</h4>
					</button>
				</div>
				<div class="col-md-2" align="center">
					<button type="button" class="btn btn-default"
							style="border: 0px #00cc99;background-color:#00b386;padding-bottom:4px;padding-top:4px;margin-top:20px;margin-bottom:0px;">
						<h4>Meus Grupos</h4>
					</button>
				</div>
				<div class="col-md-3" align="center">
					<button type="button" class="btn btn-default"
							style="border: 0px #00cc99;background-color:#00b386;padding-bottom:4px;padding-top:4px;margin-top:20px;margin-bottom:0px;">
						<h4>Feed de Noticias</h4>
					</button>
				</div>
				<div class="col-md-3" style="background-color: #00cc99;padding-bottom:2px; padding-top:2px; margin-bottom:2px; margin-top:2px;">
					<div class="panel panel-default" style="border: 0px #00e6ac;background-color: #00e6ac;padding-bottom:2px; padding-top:2px;margin-bottom:2px; margin-top:2px;">
						<div class="panel-body" style="background-color: #00e6ac; padding-bottom:2px; padding-top:2px;">								
							<div class="col-md-3">
								<img src="profile-picture.jpg" alt="user image" style="width:60px;height:60px;">
							</div>	
							<div class="col-md-9">
								<p>Nome do usuario</p>
								<p>Sair</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	
    <div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<div class="row">
			<div class="col-md-2" align="center">
				<img src="profile-picture.jpg" class="img-thumbnail" width="150" height="150">
				<button type="button" class="btn btn-primary" style="margin:5px;">Seguir</button>
				<h5 style="margin:5px;">Seguindo</h5>
			</div>
			<div class="col-md-10" >
				<h3>Nome de Perfil</h3>
				<div class="row">
					<div class="col-md-6" >
						<h4>Nome de Usuário</h4>
					</div>
					<div class="col-md-6" >
						<h4>Data de Nascimento</h4>
					</div>
				</div>
				<p>Descrição</p>
			</div>
		</div>
	</div>
	
    <div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		
		<div ng-repeat="post in viewingPosts">
			<div class="post" >
				<div class="row">
					<div class="col-md-2" align="center">
						<img ng-src="{{post.writer.picturePath}}" class="img-thumbnail" width="150" height="150"/> 
						<h4>{{post.date}}</h4>
						<div class="row" style="margin-top:150px;">
							{{post.likes}} | {{post.dislikes}}
							<div class="row">
								<div class="btn-group" style="vertical-align:bottom;">
									<button type="button" class="btn btn-success" ng-click="postCtrl.Like($index)">
										+
									</button>
									<button type="button" class="btn btn-danger" ng-click="postCtrl.Dislike($index)">
										-
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-10">
								<h3>{{post.writer.profileName}}</h3>
							</div>
							<div class="col-md-2" align="right">
								<button type="button" class="btn btn-default" >Share</button>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<p>{{post.content}}</p>
							</div>
							<div class="panel-footer">
								#tema1
								#tema2
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Comentarios:</h4>
							</div>
							<div class="panel-body">
								<div class="scroll" ng-repeat="comment in post.comments">
									<div class="post">
										{{comment.writer.profileName}}
										: 
										{{comment.contentprofileName}}
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<form class="form-horizontal" role="form">
									<div class="form-group">
											<label class="col-sm-2 control-label">{{user.profileName}}:</label>
											<div class="col-sm-9">
												<input class="form-control" id="newComment" type="text"/>
											</div>
											<input type="submit" class="col-sm-1 btn btn-default" value="Enviar"/>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>