<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
	<!-- Header -->
	<ng-include src="'templates/included/header.inc.html'"></ng-include>
	
	<!-- Profile Info -->
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<div class="row">
			<div class="col-md-2" align="center">
				<img src="profile-picture.jpg" class="img-thumbnail" width="150" height="150">
				<button type="button" class="btn btn-primary" style="margin:5px;">Seguir</button>
				<h5 style="margin:5px;">Seguindo</h5>
			</div>
			<div class="col-md-10" >
				<h3>Nome de Perfil</h3>
				<div class="row">
					<div class="col-md-6" >
						<h4>Nome de Usuário</h4>
					</div>
					<div class="col-md-6" >
						<h4>Data de Nascimento</h4>
					</div>
				</div>
				<p>Descrição</p>
			</div>
		</div>
	</div>
	
	<!-- Post List -->
	<ng-include src="'templates/included/posts.inc.html'"></ng-include>
</div>