<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
	<!-- Header -->
	<div class="panel panel-default" ng-controller="RedirectController as redirect">
		<div class="panel-body spicyHeadTopBotPad spicyHeadColor">
			<div class="row spicyHeadTopBotPad">
				<div class="col-md-2">
					<h1 align="center">Whistler</h1>
				</div>

				<!-- Navigation Bar -->
				<div class="col-md-7" align="center">
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyPosts()">
							<h4>Meus Posts</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyGroups()">
							<h4>Meus Grupos</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyFeed()">
							<h4>Feed de Noticias</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToStatistics()">
							<h4>Estatisticas</h4>
						</button>
					</div>
				</div>

				<!-- Profile Info -->
				<div class="col-md-3 spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadColor">
					<div class="panel panel-default spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadProfileColor">
						<div class="panel-body spicyHeadTopBotPad spicyHeadProfileColor">								
							<div class="col-md-3">
								<img ng-src="{{user.picturePath}}" alt="user image" class="spicyHeadPrifilePic" ng-click="redirect.ToMyProfile()"/>
							</div>	
							<div class="col-md-9" ng-controller="LoginController as loginCtrl">
								<p ng-click="redirect.ToMyProfile()">{{user.profileName}}</p>
								<p ng-click="loginCtrl.Logout()">Sair</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Lorem Ipsum -->
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<div class="row">
			<div class="col-md-2" align="center">
				<img src="profile-picture.jpg" class="img-thumbnail" width="150" height="150">
				<button type="button" class="btn btn-primary" style="margin:5px;">Seguir</button>
				<h5 style="margin:5px;">Seguindo</h5>
			</div>
			<div class="col-md-10" >
				<h3>Nome de Perfil</h3>
				<div class="row">
					<div class="col-md-6" >
						<h4>Nome de Usuário</h4>
					</div>
					<div class="col-md-6" >
						<h4>Data de Nascimento</h4>
					</div>
				</div>
				<p>Descrição</p>
			</div>
		</div>
	</div>
	
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		
		<div ng-repeat="post in viewingPosts">
			<div class="post" >
				<div class="row">
					<div class="col-md-2" align="center">
						<img ng-src="{{post.writer.picturePath}}" class="img-thumbnail" width="150" height="150"/> 
						<h4>{{post.date}}</h4>
						<div class="row" style="margin-top:150px;">
							{{post.likes}} | {{post.dislikes}}
							<div class="row">
								<div class="btn-group" style="vertical-align:bottom;">
									<button type="button" class="btn btn-success" ng-click="postCtrl.Like($index)">
										+
									</button>
									<button type="button" class="btn btn-danger" ng-click="postCtrl.Dislike($index)">
										-
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-10">
								<h3>{{post.writer.profileName}}</h3>
							</div>
							<div class="col-md-2" align="right">
								<button type="button" class="btn btn-default" >Share</button>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<p>{{post.content}}</p>
							</div>
							<div class="panel-footer">
								#tema1
								#tema2
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Comentarios:</h4>
							</div>
							<div class="panel-body">
								<div class="scroll">
									<div ng-repeat="comment in post.comments">
										<div class="comment">
											{{comment.writer.profileName}}
											: 
											{{comment.content}}
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<form class="form-horizontal" role="form">
									<div class="form-group">
											<label class="col-sm-2 control-label">{{user.profileName}}:</label>
											<div class="col-sm-9">
												<input class="form-control" id="newComment" type="text"/>
											</div>
											<input type="submit" class="col-sm-1 btn btn-default" value="Enviar"/>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>