<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
	<!-- Header -->
	<div class="panel panel-default" ng-controller="RedirectController as redirect">
		<div class="panel-body spicyHeadTopBotPad spicyHeadColor">
			<div class="row spicyHeadTopBotPad">
				<div class="col-md-2">
					<h1 align="center">Whistler</h1>
				</div>

				<!-- Navigation Bar -->
				<div class="col-md-7" align="center">
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyPosts()">
							<h4>Meus Posts</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyGroups()">
							<h4>Meus Grupos</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToMyFeed()">
							<h4>Feed de Noticias</h4>
						</button>
					</div>
					<div class="col-md-3" align="center">
						<button type="button" class="btn btn-default spicyHeadBtn" ng-click="redirect.ToStatistics()">
							<h4>Estatisticas</h4>
						</button>
					</div>
				</div>

				<!-- Profile Info -->
				<div class="col-md-3 spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadColor">
					<div class="panel panel-default spicyHeadTopBotPad spicyHeadTopBotMarg spicyHeadProfileColor">
						<div class="panel-body spicyHeadTopBotPad spicyHeadProfileColor">								
							<div class="col-md-3">
								<img ng-src="{{user.picturePath}}" alt="user image" class="spicyHeadPrifilePic" ng-click="redirect.ToMyProfile()"/>
							</div>	
							<div class="col-md-9" ng-controller="LoginController as loginCtrl">
								<p ng-click="redirect.ToMyProfile()">{{user.profileName}}</p>
								<p ng-click="loginCtrl.Logout()">Sair</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Lorem Ipsum -->
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#TopUsers">Top 20 Usuários</a></li>
			<li><a href="#TopPosts">Top 20 Posts</a></li>
		</ul>
		<div class="tab-content">
			<div id="TopUsers" class="tab-pane fade in active">
				<form role="form">
					<div class="form-group">
						<label for="minDate">Data Minima:</label>
						<input type="date" class="form-control" id="minDate">
					</div>
					<div class="form-group">
						<label for="maxDate">Data Maxima:</label>
						<input type="date" class="form-control" id="maxDate">
					</div>
					<button type="submit" class="btn btn-default">Buscar Estatisticas</button>
				</form>
				
			</div>
			<div id="TopPosts" class="tab-pane fade">
				<form role="form">
					<div class="form-group">
						<label for="minDate">Data Minima:</label>
						<input type="date" class="form-control" id="minDate">
					</div>
					<div class="form-group">
						<label for="maxDate">Data Maxima:</label>
						<input type="date" class="form-control" id="maxDate">
					</div>
					<button type="submit" class="btn btn-default">Buscar Estatisticas</button>
				</form>
				
			</div>
		</div>
	</div>
</div>