<!-- Grupo:
    Rafael Gallo
    Andreas Munte
    Guilherme Muzzi
-->
<!DOCTYPE html>
<div>
	<!-- Header -->
	<ng-include src="'templates/header.inc.html'"></ng-include>
	
	<!-- Lorem Ipsum -->
	<div class="container" style="border-radius:5px; box-shadow: -2px 3px 5px grey; border:1px solid #c0c0c0; padding-top:20px; padding-bottom:20px;margin-top:10px; margin-bottom:10px;">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#TopUsers">Top 20 Usuários</a></li>
			<li><a href="#TopPosts">Top 20 Posts</a></li>
		</ul>
		<div class="tab-content">
			<div id="TopUsers" class="tab-pane fade in active">
				<form role="form">
					<div class="form-group">
						<label for="minDate">Data Minima:</label>
						<input type="date" class="form-control" id="minDate">
					</div>
					<div class="form-group">
						<label for="maxDate">Data Maxima:</label>
						<input type="date" class="form-control" id="maxDate">
					</div>
					<button type="submit" class="btn btn-default">Buscar Estatisticas</button>
				</form>
				
			</div>
			<div id="TopPosts" class="tab-pane fade">
				<form role="form">
					<div class="form-group">
						<label for="minDate">Data Minima:</label>
						<input type="date" class="form-control" id="minDate">
					</div>
					<div class="form-group">
						<label for="maxDate">Data Maxima:</label>
						<input type="date" class="form-control" id="maxDate">
					</div>
					<button type="submit" class="btn btn-default">Buscar Estatisticas</button>
				</form>
				
			</div>
		</div>
	</div>
</div>