<!DOCTYPE html>
<!-- Grupo:
	Rafael Gallo
	Andreas Munte
	Guilherme Muzzi
-->
<html>
	<head>
		<title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--STYLES-->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/angular/angular-csp.css">
		<link rel="stylesheet" href="/styles/importer.css">
		<link rel="stylesheet" href="/styles/whistler.css">
		<!--STYLES END-->
	</head>

	<body>
		<%- body %>

		<!--TEMPLATES-->
		<script type="text/javascript" src="/jst.js"></script>
		<!--TEMPLATES END-->

		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/js/angular/_module.js"></script>
		<script src="/js/angular/controllers/groupController.js"></script>
		<script src="/js/angular/controllers/postController.js"></script>
		<script src="/js/angular/controllers/redirectController.js"></script>
		<script src="/js/angular/controllers/reportController.js"></script>
		<script src="/js/angular/controllers/userController.js"></script>
		<script src="/js/angular/services/groupService.js"></script>
		<script src="/js/angular/services/postService.js"></script>
		<script src="/js/angular/services/userService.js"></script>
		<script src="/js/angular/services/viewUserService.js"></script>
		<script src="/js/angular/spicy.js"></script>
		<!--SCRIPTS END-->
	</body>
</html>